.react-flow__handle-bottom {
  bottom: -6px !important;
}

.react-flow__handle-top {
  top: -6px !important;
}

.react-flow__handle-left {
  left: -6px !important;
}

.react-flow__handle-right {
  right: -6px !important;
}

.react-flow__handle {
  width: 10px !important;
  height: 10px !important;
}
